
3G_1S/System Programming/tolower
3G_1S/System Programming/toupper
*.xml
*.iml
.vscode/settings.json

3G-1S/data-mining/.DS_Store
*.json
Icon
3G-2S/compiler-construction/lex.yy.c
3G-2S/compiler-construction/test.exe
